body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.thank-you-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #e0f7fa;
}

.left-side {
    flex: 1;
    text-align: center;
}

.doctor-img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.right-side {
    flex: 1;
    padding: 20px;
    background-color: #3f51b5;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.right-side h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.right-side p {
    font-size: 16px;
    margin-bottom: 20px;
}

.right-side h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.contact-item .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
